<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Validation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            color: #333333;
        }
    </style>
</head>
<body>

<h2>Payment Validation</h2>

<p>Auction ID: <span th:text="${auctionID}"></span></p>

<table>
    <tr>
        <th>Product Name</th>
        <th>Amount</th>
        <th>Amount with Tax (7%)</th>
    </tr>
    <tr>
        <td th:text="${productName}"></td>
        <td th:text="${#numbers.formatDecimal(amount, 0, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(amountPlusTax, 0, 'COMMA', 2, 'POINT')}"></td>
    </tr>
</table>

<p>Please proceed further with a payment by clicking  <a th:href="@{${paymentLink}}" target="_blank">here</a></p>
<p>Bangkok Bank: 110-2402-3124</p>
<p>Thank you!</p>

</body>
</html>